body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  animation: party-time 0.9s infinite;
  background-color: black;
}
p .b{
  font-size: 100px;
}
p {
  font-size: 13px;
  line-height: 0.7;
  background: url("222265.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-weight: 400;
  animation: dancing-time 0.9s infinite;
  background-position: 50% center;
  transition: 0.4s ease-in-out;
}
